.header  {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 0px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    flex-shrink: 0;
    margin: auto;
  }
  
  ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    display: flex;
    gap: 5px;
    flex-shrink: 0;
    padding-right: 200px;
    padding-top: 20px;
  }
  
  li {
    font-size: 18px;
    padding: 8px;
    color: #E5E7EB;
  }

  img {
    width: auto;
    height: auto;
    padding-top: 100px;
    padding-right: 150px;
    padding-bottom: 50px;
  }

  .text-body {
    padding-left: 230px;
  }

  .col-sm-8 {
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 800;
  }

  .text-secondary {
    padding-right: 280px;
    font-size: 18px;
    color:#E5E7EB
  }

  .text-black {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    padding-top: 20px;
  }

.small-img {
    padding-top: 0px;
    display: flex;
    padding-left: 100px;
}
